body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 150vh;
    font-family: "Poppins", sans-serif;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.user img{

    width: 75%;
    height: 75%;
}