body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.game-container{
    width: 120vh;
    height: 90vh;
    margin: auto;
    position: relative;
    border: 1px solid red;

}

.user{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.user img{
    width: 30   %;

}